*{
    margin: 0;
    padding: 0;
}

.tren {
}

.tren {}
.tinanh{
    width: 790px;
    height: 430px;
}

.tinanh {
    margin: auto;
    margin-top: 20px;
}
.tren a{
    text-decoration: none;
    font-family: tahoma;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 13px;
    background-color: white;
    padding: 0 20px;
    margin-left: 31px;
}
.vien{
    border: 3px solid lightblue;
}