*{
    margin: 0;
    padding: 0;
}



.tinanh{
    width: 790px;
    height: 430px;
    margin: auto;
    margin-top: 20px;
}


.tren a{
    text-decoration: none;
    font-family: tahoma;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 13px;
    background-color: white;
    padding: 0 20px;
    margin-left: 31px;
}
.vien{
    border: 3px solid lightblue;
}
.tinduoi{
    float: left;
    width: 190px;
    height: 230px;
    margin-top: 15px;
    margin-right: 10px;
}
.tinduoi img{
    width: 190px;
}
.tinduoi .tieude{
    text-decoration: none;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bold;
    color: lightslategray;
}
.tinduoi:nth-child(4n){
    margin-right: 0;
}